@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    font-family: 'Young Serif', serif;
   
}
.btn-my-hadist {
    width: 240px;
}

#output {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.card-hadist {
    box-shadow: #fff 0px 0px 0px 2px;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
}
h-hadist {
    padding-bottom: 50px;
    margin-bottom: 0px;
}
.container-hadist {
    padding: 30px 20px;
}
header{
    background-image: url(./home.jpg);
    height: 36rem;
    background-size: cover;
}
header h1 {
    text-align: center;
    padding-top: 12rem;
    color: #fff;
}
body{
     background-color: #032A3B;
}
.h-hadist {
    padding-bottom: 40px;
}
.search { 
    justify-content: end;
    padding-bottom: 30px;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833,25,25,25%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.search input {
    color: black;

}